<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [136]:
my_string1 = 'Bienvenido a'
my_string2 = "Algoritmos"
print(my_string1 + ' ' + my_string2)

mi_string1 = 'Soy un'
mi_string2 = 'estudiante'
mi_string3 = 'de 2022'
print(mi_string1 + ' ' + mi_string2 +" "+mi_string3)

Bienvenido a Algoritmos
Soy un estudiante de 2022

An integer is a round number with no values after the decimal point.

In [137]:
my_int = 2022
print(my_int)
print(type(my_int)) #La funcion type() indica la clase de la variable que recibe como argumento

mi_int = -2022
print(mi_int)
print(type(mi_int))

2022
<class 'int'>
-2022
<class 'int'>

The built-in function int() can convert a string into an integer.

In [140]:
my_string = "2022"
print(type(my_string))
my_int = int(my_string) #Convierte el string "2022" en el entero 2022 y lo almacena en la variable my_int
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "2022"
my_float = float(my_string) #La funcion float() permite convertir el numero en el string de argumento en un float a pesar de que el string no tenga un punto decimal
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [141]:
my_bool = False
print(my_bool)
print(type(my_bool))

mi_otro_bool = True
print(mi_otro_bool)
print(type(mi_otro_bool))

False
<class 'bool'>
True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [142]:
print("Adición ", 1+1)
print("Sustracción ", 5-2)
print("Multiplicación ", 2*3)
print("División ", 10/2)
print('Exponente ', 2**3)

Adición  2
Sustracción  3
Multiplicación  6
División  5.0
Exponente  8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
#Dos formas de realizar la misma división de numeros en python
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Algoritmos', '2022'] #Una lista que contiene 2 strings
print(my_list)

['Algoritmos', '2022']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Algoritmos', '2022', 1,2,3] #Una lista con 5 elementos: dos strings y tres enteros
print(len(my_list)) #Imprimir el tamaño de la lista
print(my_list[0]) #Imprimir el ultimo elemento de la lista
print(my_list[len(my_list) -1]) #Imprimir el primer elemento de la lista

5
Algoritmos
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Algoritmos','2022',1,2,3]
my_list[2] = 'Empanada' #Modificar el tercer elemento de la lista (Elemento con indice 2)
print(my_list)

['Algoritmos', '2022', 'Empanada', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Algortimos','2022',1,2,3]
print(my_list[1:3]) #Obtener una lista con los elementos desde el indice 1 hasta el indice (3-1), es decir indice 2

['2022', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['2022', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Algortimos', '2022', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Algoritmos', '2022']
my_list.append('Saludos') #append() permite añadir el elemento a la lista
print(my_list)

['Algoritmos', '2022', 'Saludos']

In [ ]:
my_list.remove('Saludos') #remove() permite eliminar el elemento de la lista
print(my_list)

['Algoritmos', '2022']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Bienvenido','a','Algoritmos')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Bienvenido','a','Algoritmos')
print(my_tuple[1:])

('a', 'Algoritmos')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list) #Por medio de la funcion set() se crea un set con los elementos en la lista que recibe como argumento
print(stock_set)

{'F', 'AAPL', 'GOOG', 'FB', 'IBM'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'IS1':'Ingenieria de Software 1', 'BD':'Bases de Datos', 'A':'Algoritmos'}

In [ ]:
print(my_dic['A'])

Algoritmos

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['A'] = 'Algoritmos 2022' #Se accede al elemento del diccionario que tiene 'A' como valor de la llave y se modifica su valor
print(my_dic['A'])

Algoritmos 2022

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['IS1', 'BD', 'A'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Bienvenido a Algoritmos'
print(my_str[8:])

do a Algoritmos

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Contando el numero de e que aparecen en esta sentencia'.count('e'))
print('Indice donde aparece por primera vez una e en esta sentencia'.find('e')) #Si no aparece en la sentencia el caracter buscado, el resultado de la funcion es -1
print('Todas las a en esta sentencia ahora se vuelven e'.replace('a','e'))

11
5
Todes les e en este sentencie ehore se vuelven e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2022-03-14 21:02:00'
splited_list = Time.split(' ') #Se divide el string segun el caracter ' ' y cada elemento de la division se almacena en una lista
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0] #Se divide el string segun el caracter ':', cada elemento de la division se almacena en una lista y se imprime el elemento en el indice 0
print(hour)

2022-03-14 21:02:00
21

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('21','06') #Se le dan valores al string por medio de la funcion format()
print(my_time)

Hour: 21, Minute:06

Another way to format a string is to use the % symbol.

In [ ]:
print('El numero pi es %f' %3.14)
print('%s a %s'%('Bienvenido','Algoritmos'))

El numero pi es 3.140000
Bienvenido a Algoritmos

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
#Operadores de comparacion retornan un valor de tipo boolean
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
#Operadores logicos and, or y not
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print( not (2 < 1 and 3 < 2))

True
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(True or False and False) #La expresion en la funcion print() es equivalente a: True or (False and False)

False
True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [145]:
#Se puede hacer una sentencia if sin colocar necesariamente elif y else.
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0 # p = True
q = 2 > 3 # q = False
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5: #El bloque de codigo en el bucle se ejecuta siempre que i<5 sea verdad
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]: #El bucle for hace una iteracion por cada elemento de la lista y modifica el valor de i deacuerdo al elemento
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks: #Se añaden a la lista new_list los elementos que estan en la lista stocks y no estan en selected
    if i not in selected:
        new_list.append(i)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB': #Finalizar el bucle si se encuentra en la iteracion en que i == 'FB'
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB': #Si se encuentra en la iteracion donde i = 'FB', terminar la iteracion para no realizar el print(i) y continuar con la iteracion del siguiente elemento
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [143]:
squares = []
for i in [6,7,8,9,10]:
    squares.append(i**2)
print(squares)

[36, 49, 64, 81, 100]

Using list comprehension:

In [144]:
list = [6,7,8,9,10]
squares = [x**2 for x in list] #por medio de comprensión de listas, la lista squares contiene el cuadrado de los elementos en list
print(squares)

[36, 49, 64, 81, 100]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected] #Se añaden a new_list los elementos que estan en stocks y estan en selected
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]) #Imprime una lista con las parejas de numeros (x,y) donde x != y
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y]) #Imprime una lista con las cadenas 'x vs y', donde x != y

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [147]:
def product(x,y): #La funcion product tiene como parametros la variable x y la variable y, y retorna el valor de la operacion x*y
    return x*y
print(product('a',3)) #En el caso de un string y un numero entero, la funcion retorna el string concatenado con si mismo la cantidad de veces que indique el numero
print(product(5,10))

aaa
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [146]:
def say_hi(): #Al llamar la funcion se imprime un saludo
    print('Bienvenid@s a Algoritmos')
say_hi()

Bienvenid@s a Algoritmos

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
#Imprimir la longitud de la lista tickers y cada uno de los elementos en la lista
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('La longitud de tickers es {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

La longitud de tickers es 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list #Instruccion para eliminar el objeto en la variable list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#Almacenar en una lista el tamaño de las palabras en la lista tickers e imprimirla
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) #Crear lista con los cuadrados de los numeros de 0 a 9

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #Lista con la suma de los elementos en la misma posición de cada lista

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
#Retorna una nueva lista con los elementos de price_list organizados de mayor a menor segun el numero en cada elemento
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
#Organiza los elementos price_list de mayor a menor segun el numero en cada elemento
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Diego Talero'
apple.ceo

'Diego Talero'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
#Clase child que hereda de la clase stock
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('Santiago')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

Santiago
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list) #Crear price_array que es un arreglo de clase numpy.ndarray de una dimension con los elementos de la lista price_list 
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]]) #Crear Ar que es un arreglo de clase numpy.ndarray de dos dimensiones con los argumentos de la funcion np.array()
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array)) #Imprime el valor del logaritmo natural de los valores en el arreglo price_array

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array)) #Retorna la media del valor de los elementos en el arreglo
print(np.std(price_array)) #Retorna la desviacion estandar calculada con los elementos en el arreglo
print(np.sum(price_array)) #Retorna la sumatoria del valor de los elementos en el arreglo
print(np.max(price_array)) #Retorna el valor maximo de los elementos en el arreglo

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #Generar una serie con los valores en la lista price
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['u','v','w','x','y','z'])
s

u    143.73
v    145.83
w    143.68
x    144.02
y    143.50
z    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = ['z','y','x','w',2,1] #Los indices en las series pueden ser de distinta clase entre si
s

z    143.73
y    145.83
x    143.68
w    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2]) #Imprime todos los elementos de la Series s menos los dos ultimos

y    145.83
x    143.68
w    144.02
2    143.50
1    142.62
dtype: float64
z    143.73
y    145.83
x    143.68
w    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
#Modificar el valor del indice z en la Series s
print('Valor inicial indice z en al Series s '+ str(s['z']))
s['z'] = 0
print(s)

Valor inicial indice z en al Series s 143.73
z      0.00
y    145.83
x    143.68
w    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Lista de precios de manzanas')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Lista de precios de manzanas, dtype: float64
Lista de precios de manzanas

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe()) #Estadisticas sobre la Series s

count      6.000000
mean     119.941667
std       58.768675
min        0.000000
25%      142.840000
50%      143.590000
75%      143.935000
max      145.830000
dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2022-03-15',periods = len(s),freq = 'D') #Se crea la cantidad de indices con dias consecutivos deacuerdo a la cantidad de elementos en la Series s
print(time_index)
s.index = time_index #Se le asignan los indices a s
print(s)

DatetimeIndex(['2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18',
               '2022-03-19', '2022-03-20'],
              dtype='datetime64[ns]', freq='D')
2022-03-15      0.00
2022-03-16    145.83
2022-03-17    143.68
2022-03-18    144.02
2022-03-19    143.50
2022-03-20    142.62
Freq: D, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) #Se accede y se imprime el elemento de la Series s el cual el nombre de su indice es el entero 1

6      0.00
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1]) #Con iloc[] en este caso se accede al elemento en la posicion o indice 1 en la Serie s.
print('El primer elemento en la Series s es '+str(s.iloc[0])) #En este caso con iloc[] se accede al primer elemento de s, el cual esta en la posicion o indice 0

145.83
El primer elemento en la Series s es 0.0

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
#Se muestran dos formas de acceder al primer elemento de la series S. Primero con su indice correspondiente asignado por time_index. La segunda con iloc[0]
print(s['2022-03-15'])
print(s.iloc[0])

0.0
0.0

We can even access to a range of dates:

In [ ]:
print(s['2022-03-15':'2022-03-18']) #Se accede a los indices desde 2022-03-15 hasta 2022-03-18

2022-03-15      0.00
2022-03-16    145.83
2022-03-17    143.68
2022-03-18    144.02
Freq: D, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] ) #Imprime los elementos de la Series s que tienen menor valor que la media de los elementos de s
#El siguiente codigo imprime el resultado de la operacion logica en para cada uno de los elementos en la Series s
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2022-03-15    0.0
Freq: D, dtype: float64
[2022-03-15    False
2022-03-16     True
2022-03-17     True
2022-03-18     True
2022-03-19     True
2022-03-20     True
Freq: D, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [41]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)

In [43]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data since 2016-01-01 until 2017-12-31. Aunque en la tabla solo se obtiene hasta 2017-12-29
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.19949031, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.053094983, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.7353, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 95333020, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 168.0858, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 95333020, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95562583, 'dayLow': 150.385, 'ask': 155.1, 'askSize': 800, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 155.01, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590627,24.225167,23.450384,24.220568,270597600,0.0,0
2016-01-05,24.312536,24.335527,23.544652,23.613623,223164000,0.0,0
2016-01-06,23.119329,23.535460,22.960695,23.151516,273829600,0.0,0
2016-01-07,22.687106,23.020469,22.169818,22.174416,324377600,0.0,0
2016-01-08,22.657219,22.785966,22.245687,22.291668,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713657,41.890370,41.670674,41.792461,65397600,0.0,0
2017-12-26,40.787101,40.947097,40.519642,40.732178,132742000,0.0,0
2017-12-27,40.619945,40.782328,40.526813,40.739346,85992800,0.0,0
2017-12-28,40.834865,41.037847,40.710688,40.853970,65920800,0.0,0
2017-12-29,40.720248,40.736962,40.409807,40.412193,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [45]:
aapl = aapl_table['Close']['2017'] #Se asigna a la variable aapl los datos de la columba Close de la tabla de los indices del 2017

In [46]:
print(aapl)

Date
2017-01-03    27.297695
2017-01-04    27.267139
2017-01-05    27.405802
2017-01-06    27.711327
2017-01-09    27.965153
                ...
2017-12-22    41.792461
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [48]:
print(aapl['2017-06']) #Imprime el valor de la columna Close de los indices del 2017 en el mes 06

Date
2017-06-01    36.305843
2017-06-02    36.843864
2017-06-05    36.483604
2017-06-06    36.606857
2017-06-07    36.824902
2017-06-08    36.734844
2017-06-09    35.310390
2017-06-12    34.466610
2017-06-13    34.743919
2017-06-14    34.404991
2017-06-15    34.198780
2017-06-16    33.720016
2017-06-19    34.684673
2017-06-20    34.369438
2017-06-21    34.573265
2017-06-22    34.516380
2017-06-23    34.670444
2017-06-26    34.561424
2017-06-27    34.066063
2017-06-28    34.563793
2017-06-29    34.054203
2017-06-30    34.134796
Name: Close, dtype: float64

In [49]:
aapl['2017-03':'2017-06'] #Imprime el valor de la columna Close de los indices del 2017 desde el mes 03 hasta el mes 06

Date
2017-03-01    32.996025
2017-03-02    32.800114
2017-03-03    32.993668
2017-03-06    32.889812
2017-03-07    32.932297
                ...
2017-06-26    34.561424
2017-06-27    34.066063
2017-06-28    34.563793
2017-06-29    34.054203
2017-06-30    34.134796
Name: Close, Length: 86, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [53]:
print(aapl.head(3)) #Se imprimen los primeros 3 elementos en la Series aapl
print(aapl.tail(6)) #Se imprimen los ultimos 6 elementos en la Series aapl

Date
2017-01-03    27.297695
2017-01-04    27.267139
2017-01-05    27.405802
Name: Close, dtype: float64
Date
2017-12-21    41.792461
2017-12-22    41.792461
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [58]:
#El siguiente codigo crea la Series by_month, en la cual se almacena el valor de promedio de cada mes calculado a partir de los elementos de la Series s agrupados por mes
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.101464
2017-02-28    31.520056
2017-03-31    33.191428
2017-04-30    33.727008
2017-05-31    36.027137
2017-06-30    35.038141
2017-07-31    35.149094
2017-08-31    37.793849
2017-09-30    37.502157
2017-10-31    37.551831
2017-11-30    41.121433
2017-12-31    41.047756
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [61]:
#En este caso se almacena el valor promedio por cada semana de los elementos de la Series s, y unicamente se imprimen los 3 primeros
by_week = aapl.resample('W').mean()
print(by_week.head(3))

Date
2017-01-08    27.420491
2017-01-15    28.021086
2017-01-22    28.189009
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [64]:
#En este caso se calcula el valor maximo por cada mes de los elementos de la Series s
aapl.resample('M').max()

Date
2017-01-31    28.660814
2017-02-28    32.363449
2017-03-31    34.018074
2017-04-30    34.171513
2017-05-31    36.997929
2017-06-30    36.843864
2017-07-31    36.372208
2017-08-31    39.022980
2017-09-30    39.034882
2017-10-31    40.222221
2017-11-30    41.935429
2017-12-31    42.129158
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [66]:
three_day = aapl.resample('4D').mean() #En este caso se calculan y almacenan el valor promedio cada cuatro dias de los elementos de la Series s
two_week = aapl.resample('2W').mean() #En este caso se calculan y almacenan el valor promedio cada dos semanas de los elementos de la Series s
two_month = aapl.resample('6M').mean() #En este caso se calculan y almacenan el valor promedio cada seis meses de los elementos de la Series s


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.420491
2017-01-07    27.979253
2017-01-11    28.048975
2017-01-15    28.201347
2017-01-19    28.176670
                ...
2017-12-13    41.269482
2017-12-17    41.814739
2017-12-21    41.792461
2017-12-25    40.775164
2017-12-29    40.412193
Freq: 4D, Name: Close, Length: 91, dtype: float64
Date
2017-01-08    27.420491
2017-01-22    28.095718
2017-02-05    29.028857
2017-02-19    31.430839
2017-03-05    32.506640
2017-03-19    32.927814
2017-04-02    33.533491
2017-04-16    33.757389
2017-04-30    33.699665
2017-05-14    35.600251
2017-05-28    36.396623
2017-06-11    36.415399
2017-06-25    34.434852
2017-07-09    34.171663
2017-07-23    35.182632
2017-08-06    36.173826
2017-08-20    37.800721
2017-09-03    38.353881
2017-09-17    38.178278
2017-10-01    36.740376
2017-10-15    36.970467
2017-10-29    37.654321
2017-11-12    40.920306
2017-11-26    41.091975
2017-12-10    40.755584
2017-12-24    41.507327
2018-01-07    40.684422
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101464
2017-07-31    34.156121
2018-01-31    38.961766
Freq: 6M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [67]:
std = aapl.resample('M').std() #Se calcula la desviacion estandar con los datos de para cada mes
max = aapl.resample('M').max() #Se calcula el valor maximo con los datos de cada mes
min = aapl.resample('M').min() #Se calcula el valor minimo con los datos de cada mes


print(std)
print(max)
print(min)

Date
2017-01-31    0.423929
2017-02-28    0.771735
2017-03-31    0.406814
2017-04-30    0.290247
2017-05-31    0.758117
2017-06-30    1.050996
2017-07-31    0.772713
2017-08-31    0.765382
2017-09-30    0.941105
2017-10-31    0.943638
2017-11-30    0.636264
2017-12-31    0.550065
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    28.660814
2017-02-28    32.363449
2017-03-31    34.018074
2017-04-30    34.171513
2017-05-31    36.997929
2017-06-30    36.843864
2017-07-31    36.372208
2017-08-31    39.022980
2017-09-30    39.034882
2017-10-31    40.222221
2017-11-30    41.935429
2017-12-31    42.129158
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    27.267139
2017-02-28    30.207254
2017-03-31    32.734024
2017-04-30    33.206100
2017-05-31    34.586937
2017-06-30    33.720016
2017-07-31    33.829044
2017-08-31    35.563999
2017-09-30    35.822624
2017-10-31    36.519798
2017-11-30    39.710648
2017-12-31    40.359657
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [70]:
#Se obtiene el valor del ultimo dia de cada mes y luego se imprime
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.519800
2017-02-28    32.335117
2017-03-31    33.909508
2017-04-30    33.907143
2017-05-31    36.206303
2017-06-30    34.134796
2017-07-31    35.251129
2017-08-31    39.022980
2017-09-30    36.672081
2017-10-31    40.222221
2017-11-30    41.037838
2017-12-31    40.412193
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [71]:
#Se obtiene para cada mes un valor que se calcula con los datos del primer y ultimo dia del mes y se imprime
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [73]:
print(monthly_return.mean()) #Calcular la media de los resultados obtenidos en mothly_return
print(monthly_return.std()) #Calcular la desviacion estandar de los resultados obtenidos en mothly_return
print(monthly_return.max()) #Calcular el maximo de los resultados obtenidos en mothly_return

0.02686325540708374
0.052258469869589166
0.09901812908463614

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [75]:
print(last_day.diff()) #Calcula la diferencia entre el valor del elemento actual y el anterior de la Series last_day 
print(last_day.pct_change()) #Calcula el porcentaje de cambio entre elemento actual y el anterior de la Series last_day: (last_day[n]-last_day[n-1])/last_day[n-1]

Date
2017-01-31         NaN
2017-02-28    3.815317
2017-03-31    1.574390
2017-04-30   -0.002365
2017-05-31    2.299160
2017-06-30   -2.071507
2017-07-31    1.116333
2017-08-31    3.771851
2017-09-30   -2.350899
2017-10-31    3.550140
2017-11-30    0.815617
2017-12-31   -0.625645
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [81]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) #.fillna(0) permite llenar con 0 los elementos de la Series que tenian valor NaN

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [85]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) #.fillna(methos = 'bfill') permite llenar con el valor del siguiente elemento los elementos de la Series que tengan valor NaN

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [87]:
daily_return = last_day.pct_change()
daily_return.dropna() #.dropna() permite remover los elementos de la Series que tengan valor NaN

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [91]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2022-03-15',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index) #Se crea un DataFrame con los datos del diccionario y se usan los indices de fechas de data_index
print(df)

              AAPL    GOOG     IBM
2022-03-15  143.50  898.70  155.58
2022-03-16  144.09  911.71  153.67
2022-03-17  142.73  906.69  152.36
2022-03-18  144.18  918.59  152.94
2022-03-19  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [93]:
df = aapl_table
print(df.Close.tail(5)) #Se imprime una Series con los datos de la columna Close de los ultimos 5 elementos en el Dataframe df 
print(df['Volume'].tail(5)) #Se imprime una Series con los datos de la columna Volume de los ultimos 5 elementos en el Dataframe df

Date
2017-12-22    41.792461
2017-12-26    40.732178
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [94]:
#Se imprimen los valores de los ultimos dias de cada mes de 2016 de los elementos en el Dataframe df
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) 
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000        0.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000        0.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800        0.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600        0.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800        0.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600        0.0
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400        0.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600        0.0
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200        0.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [96]:
#Se imprimen unicamente los datos de las columnas Open, High, Low, Close y Volume del dataframe aapl_month
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close', 'Volume']] 
print(aapl_bar)

                 Open       High        Low      Close     Volume
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [98]:
#Se imprimen unicamente los valores de las columnas Open, High, Low, Close y Volume de los datos entre el mes 06 y 09 de 2016 del DataFrame aapl_month
print(aapl_month.loc['2016-06':'2016-09',['Open', 'High', 'Low', 'Close', 'Volume']])

                 Open       High        Low      Close     Volume
Date
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [100]:
import numpy as np
#Se imprimen unicamente los valores de las columnas Open, High, Low, Close y Volume de los datos que tienen un valor de Close mayor a la media
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close     Volume
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [103]:
#Se agrega la columna rate_return al dataframe aapl_bar, que contiene el porcentaje de cambio en la Columna Close
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close     Volume  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000          NaN
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600     0.023652
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600     0.004334
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [104]:
#Se obtiene un dataframe missing que indica si hay algun valor NaN por medio del metodo .isnull()
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  Volume  rate_return
Date
2016-01-31  False  False  False  False   False         True
2016-02-29  False  False  False  False   False        False
2016-03-31  False  False  False  False   False        False
2016-04-30  False  False  False  False   False        False
2016-05-31  False  False  False  False   False        False
2016-06-30  False  False  False  False   False        False
2016-07-31  False  False  False  False   False        False
2016-08-31  False  False  False  False   False        False
2016-09-30  False  False  False  False   False        False
2016-10-31  False  False  False  False   False        False
2016-11-30  False  False  False  False   False        False
2016-12-31  False  False  False  False   False        False
---------------------------------------------
         Open   High    Low  Close Volume rate_return
count      12     12     12     12     12          12
unique      1      1      1      1      1           2
top     False  False  False  False  False       False
freq       12     12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [106]:
print(missing[missing.rate_return == True]) #Imprime los elementos del dataframe que tienen un valor NaN indicando en cual de sus columnas esta

             Open   High    Low  Close  Volume  rate_return
Date
2016-01-31  False  False  False  False   False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [108]:
drop = aapl_bar.dropna() #Elimina las filas del dataframe que tengan NaN
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) #Pone el valor 0 en las celdas del dataframe que tengan NaN
print(fill)

                 Open       High        Low      Close     Volume  rate_return
Date
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600     0.023652
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600     0.004334
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200     0.047955

--------------------------------------------------

                 Open       High        Low      Close     Volume  rate_return
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000     0.000000
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200    -0.001287
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000    -0.139921
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800     0.071773
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600     0.023652
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600     0.004334
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200    -0.021601
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [109]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) #Formar un dataframe concatenando las series s1 y s2 como columnas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [113]:
#Se calcula el logaritmo del valor de Close de cada fila del DataFrame aapl_bar y el resultado se almacena en el DataFrame log_price
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price' 
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #Se une el dataframe aapl_bar con log_price por medio de sus columnas
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close     Volume  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200

            rate_return  log_price
Date
2016-01-31          NaN   3.108124
2016-02-29    -0.001287   3.106836
2016-03-31     0.127211   3.226582
2016-04-30    -0.139921   3.075851
2016-05-31     0.071773   3.145165
2016-06-30    -0.042660   3.101569
2016-07-31     0.090063   3.187804
2016-08-31     0.023652   3.211181
2016-09-30     0.065504   3.274629
2016-10-31     0.004334   3.278954
2016-11-30    -0.021601   3.257116
2016-12-31     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [119]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228352  26.369365  25.915774  25.974529
2016-12-31  27.415205  27.544465  27.128479  27.220137
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356360  32.441335  32.266664  32.335117
2017-03-31  33.923670  34.053492  33.756080  33.909508
2017-04-30  34.011001  34.060571  33.817450  33.907143

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [120]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #Une las columnas del Dataframe aapl_bar con las del dataframe df_volume
print(concat)

                 Open       High        Low      Close       Volume  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600.0
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600.0
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200.0
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

            rate_return       Volume  Stock Splits
Date
2016-01-31          NaN          NaN           NaN
2016-02-29    -0.001287          NaN           NaN
2016-03-31     0.127211          NaN           NaN
2016-04-30    -0.139921          NaN           NaN
2016-05-31     0.071773          NaN           NaN
2016-06-30    -0.042660          NaN           NaN
2016-07-31     0.090063          NaN           NaN
2016-08-31     0.023652          NaN           NaN
2016-09-30     0.065504          NaN           NaN
2016-10-31     0.004334  105677600.0           0.0
2016-11-30    -0.021601  144649200.0           0.0
2016-12-31     0.047955  122345200.0           0.0
2017-01-31          NaN  196804000.0           0.0
2017-02-28          NaN   93931600.0           0.0
2017-03-31          NaN   78646800.0           0.0
2017-04-30          NaN   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [123]:
#Une las columnas del Dataframe aapl_bar con las del dataframe df_volume, pero con una inner join, entonces unicamente almacena las filas que compartian ambos DataFrame
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close     Volume  \
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200

            rate_return     Volume  Stock Splits
Date
2016-10-31     0.004334  105677600             0
2016-11-30    -0.021601  144649200             0
2016-12-31     0.047955  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [131]:
#Se añaden las filas del dataframe df_2017 al final del dataframe aapl_bar y se almacenan en una variable.
#Si los dos dataframe tienen columnas con igual nombre, los datos de ambos dataframe se ponen en la misma columna
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close       Volume  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600.0
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600.0
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200.0
2016-10-31  26.573704  26.709320  26.468483  26.547983          NaN
2016-11-30  26.228352  26.369365  25.915774  25.974529          NaN
2016-12-31  27.415205  27.544465  27.128479  27.220137          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356360  32.441335  32.266664  32.335117          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011001  34.060571  33.817450  33.907143          NaN

            rate_return
Date
2016-01-31          NaN
2016-02-29    -0.001287
2016-03-31     0.127211
2016-04-30    -0.139921
2016-05-31     0.071773
2016-06-30    -0.042660
2016-07-31     0.090063
2016-08-31     0.023652
2016-09-30     0.065504
2016-10-31     0.004334
2016-11-30    -0.021601
2016-12-31     0.047955
2016-10-31          NaN
2016-11-30          NaN
2016-12-31          NaN
2017-01-31          NaN
2017-02-28          NaN
2017-03-31          NaN
2017-04-30          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [132]:
#Se añaden las filas del dataframe df_2017 al final del dataframe aapl_bar y se almacenan en una variable.
#Si los dos dataframe tienen columnas con igual nombre, los datos de ambos dataframe se ponen en la misma columna
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close       Volume  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600.0
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600.0
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200.0
2016-10-31  26.573704  26.709320  26.468483  26.547983          NaN
2016-11-30  26.228352  26.369365  25.915774  25.974529          NaN
2016-12-31  27.415205  27.544465  27.128479  27.220137          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356360  32.441335  32.266664  32.335117          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011001  34.060571  33.817450  33.907143          NaN

            rate_return
Date
2016-01-31          NaN
2016-02-29    -0.001287
2016-03-31     0.127211
2016-04-30    -0.139921
2016-05-31     0.071773
2016-06-30    -0.042660
2016-07-31     0.090063
2016-08-31     0.023652
2016-09-30     0.065504
2016-10-31     0.004334
2016-11-30    -0.021601
2016-12-31     0.047955
2016-10-31          NaN
2016-11-30          NaN
2016-12-31          NaN
2017-01-31          NaN
2017-02-28          NaN
2017-03-31          NaN
2017-04-30          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [134]:
df_2017.columns = ['Change', 'High','Low','Close'] #Se cambia el nombre de la columna 'Open' por 'Change' en el dataframe df_2017
concat = pd.concat([aapl_bar, df_2017], axis = 0) #Ahora al añadir las filas de df_2017 a aapl_bar, se añade la nueva columna 'Change' que solo esta en df_2017
print(concat)

                 Open       High        Low      Close       Volume  \
Date
2016-01-31  21.792770  22.379028  21.691611  22.379028  257666000.0
2016-02-29  22.389512  22.706192  22.340970  22.350216  140865200.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000.0
2016-05-31  23.163043  23.349092  22.981646  23.223509  169228800.0
2016-06-30  21.963034  22.272338  21.930475  22.232803  143345600.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600.0
2016-09-30  26.295461  26.508239  26.141141  26.433416  145516400.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600.0
2016-11-30  26.228352  26.369365  25.915774  25.974529  144649200.0
2016-12-31  27.415205  27.544465  27.128479  27.220137  122345200.0
2016-10-31        NaN  26.709320  26.468483  26.547983          NaN
2016-11-30        NaN  26.369365  25.915774  25.974529          NaN
2016-12-31        NaN  27.544465  27.128479  27.220137          NaN
2017-01-31        NaN  28.529201  28.348236  28.519800          NaN
2017-02-28        NaN  32.441335  32.266664  32.335117          NaN
2017-03-31        NaN  34.053492  33.756080  33.909508          NaN
2017-04-30        NaN  34.060571  33.817450  33.907143          NaN

            rate_return     Change
Date
2016-01-31          NaN        NaN
2016-02-29    -0.001287        NaN
2016-03-31     0.127211        NaN
2016-04-30    -0.139921        NaN
2016-05-31     0.071773        NaN
2016-06-30    -0.042660        NaN
2016-07-31     0.090063        NaN
2016-08-31     0.023652        NaN
2016-09-30     0.065504        NaN
2016-10-31     0.004334        NaN
2016-11-30    -0.021601        NaN
2016-12-31     0.047955        NaN
2016-10-31          NaN  26.573704
2016-11-30          NaN  26.228352
2016-12-31          NaN  27.415205
2017-01-31          NaN  28.472797
2017-02-28          NaN  32.356360
2017-03-31          NaN  33.923670
2017-04-30          NaN  34.011001

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.